@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1025px) {
    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
    }

    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario{
        float: right;
        width: 70%;
        height: 100%;
    }

    div#formulario h1{
        font-size: 2em;
    }

    div#formulario p{
        font-size: 1em;
    }
}

@media screen and (min-width: 1025px) {
    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    } 

    section#login{
        width: 950px;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario h1{
        font-size: 2em;
    }

    div#formulario p{
        font-size: 1em;
    }
}