@charset "UTF-8";

/*  
    Paleta de cores:
    Alem de branco e preto
    verde: #49a09d
    lilas: #5f2c82
*/

/* Comfiguracoes gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Configuracoes especificas*/

/* Id */

section#login{
    background-color: white;
    width: 250px;
    height: 600px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    /* Tudo que tiver fora da borda vai ficar escondido com essa tag: */
    overflow: hidden;
}

div#imagem{
    background: #5f2c82 url("../imagens/pexels-markus-winkler-1430818-29804001.jpg") no-repeat center center;
    background-size: cover;
    height: 200px;
    display: block;
}

div#formulario{
    padding: 10px;
    display: block;
}

div#formulario h1{
    text-align: center;
    padding: 10px;
}

div#botoes{
    display: flex;
    flex-direction: column;
}

#btn-entrada{
    background-color: #49a09d;
    color: white;
    border: none;
}

#btn-esqueciSenha{
    border: 1px solid #49a09d;
}

/* Classe */

.btn{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;

}