@charset "UTF-8";

/*  
    Paleta de cores:
    Alem de branco e preto
    verde: #49a09d
    lilas: #5f2c82
*/

/* Comfiguracoes gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuracoes especificas*/

/* Id */

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 523px;
    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    /* Tudo que tiver fora da borda vai ficar escondido com essa tag: */
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem{
    background: #5f2c82 url("../imagens/pexels-markus-winkler-1430818-29804001.jpg") no-repeat center center;
    background-size: cover;
    height: 200px;
    display: block;
}

div#formulario{
    padding: 10px;
    display: block;
}

div#formulario h1{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.39);
}

div#formulario p{
    font-size: 0.8em;
}

#iuser, #isenha{
    background-color: #60d3cf;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    transform: translateY(-2.5px);
}

#iuser:focus-within, #isenha:focus-within{
    background-color: white;
}

div#botoes{
    display: flex;
    flex-direction: column;
}

#btn-entrada{
    background-color: #49a09d;
    color: white;
    border: none;
    cursor: pointer;
}

#btn-entrada:hover{
    background-color: #326d6b;
}

#btn-entrada:active{
    opacity: 0.8;
}

#btn-esqueciSenha{
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid #49a09d;
}

#btn-esqueciSenha:hover{
    background-color: #60d3cf;
}

#btn-esqueciSenha:active{
    opacity: 0.8;
}

/* Classe */

.campo{
    background-color: #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    display: block;
    border: 2px solid #5f2c82;
}

.icon{
    color: white;
    font-size: 2em;
    width: 41px;
    height: 2px;
    padding: 5px;
}

.btn{
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
}